Approach used - 

1) We are considering into attributes - Image Height, Image Width, Video Duration and Average face Size.

2) We first take the query Video ID

3) We then calculate the absolute distance between query Video ID attributes with that of all other records.

4) We then print out those top 20 VideoID, which have the least distance with query Video ID.

In [162]:
# Importing all the libraries
import os
import keras
from keras.preprocessing import image
from keras.applications.imagenet_utils import decode_predictions, preprocess_input
from keras.models import Model
import tensorflow
import random
import numpy

In [143]:
import pandas as pd

In [144]:
# path for dataset
path = "/content/youtube_faces_with_keypoints_full.csv"
df_bonus = pd.read_csv(path)

In [145]:
# Reading the dataset
df = pd.DataFrame(df_bonus)
print(df)

               videoID      personName  imageHeight  imageWidth  \
0      Alison_Lohman_0   Alison_Lohman        228.0       213.0
1      Alison_Lohman_1   Alison_Lohman        248.0       201.0
2      Alison_Lohman_2   Alison_Lohman        335.0       308.0
3      Alison_Lohman_3   Alison_Lohman        151.0       110.0
4      Alison_Lohman_4   Alison_Lohman        236.0       228.0
...                ...             ...          ...         ...
2189    Yossi_Beilin_3    Yossi_Beilin        240.0       243.0
2190      Zahir_Shah_0      Zahir_Shah        196.0       200.0
2191      Zahir_Shah_1      Zahir_Shah        240.0       293.0
2192  Zoran_Djindjic_0  Zoran_Djindjic        230.0       237.0
2193  Zoran_Djindjic_2  Zoran_Djindjic        131.0       115.0

      videoDuration  averageFaceSize  numVideosForPerson
0             240.0        90.150000                 6.0
1              79.0       108.417722                 6.0
2             136.0       122.161765                 6.0
3              53.0        58.000000                 6.0
4             147.0        91.680272                 6.0
...             ...              ...                 ...
2189          240.0       110.258333                 2.0
2190          143.0        93.944056                 2.0
2191          240.0       155.495833                 2.0
2192          240.0        98.908333                 2.0
2193          240.0        59.554167                 2.0

[2194 rows x 7 columns]

In [146]:
# performing a simple test on dataset
df_bonus.loc[df_bonus['personName'] == 'Zahir_Shah']

,videoID,personName,imageHeight,imageWidth,videoDuration,averageFaceSize,numVideosForPerson
2190,Zahir_Shah_0,Zahir_Shah,196.0,200.0,143.0,93.944056,2.0
2191,Zahir_Shah_1,Zahir_Shah,240.0,293.0,240.0,155.495833,2.0

In [147]:
# Image height array
mh = []

for i1 in (df_bonus['imageHeight']):
  mh.append(i1)

In [148]:
# Image Width array
mw = []

for i1 in (df_bonus['imageWidth']):
  mw.append(i1)

In [149]:
#  Average face Size array
mk = []

for i1 in (df_bonus['averageFaceSize']):
  mk.append(i1)

In [150]:
# video Duration array
mm = []

for i1 in (df_bonus['videoDuration']):
  mm.append(i1)

In [151]:
# Video ID array
mv = []

for i1 in (df_bonus['videoID']):
  mv.append(i1)

In [152]:
# working on first video query ID
query_id = input("")
k = 0
for i in range(len(mv)):
  if (mv[i] == query_id):
    k = i

Alex_Ferguson_0

In [153]:
# Index ofthe video ID in the array
print(k)

609

In [154]:
import math

In [155]:
# formual to calculate the absolute distance between the query video and other video based on attributes like -Image height, image width, video duration and average face size
dist = []
for i in range(len(mv)):
  kk = abs((mh[i]*mm[i]) - (mh[k]*mm[k])) + abs((mw[i]*mm[i]) - (mw[k]*mm[k])) + abs((mk[i]*mm[i]) - (mk[k]*mm[k]))
  dist.append(kk)

In [156]:
arr = numpy.array(dist)

In [157]:
n = 20

In [158]:
idx = np.argpartition(dist, n)
print(idx)

[2175 1792  609 ... 2191 2192    0]

In [159]:
#printing the nearest top 20 neighbours
for i in range(20):
  print(mv[idx[i]])

William_Macy_5
Lee_Byung-woong_5
Alex_Ferguson_0
Paul_Byrd_5
Charlotte_Casiraghi_2
Fernando_Sanz_5
Carla_Del_Ponte_1
Erin_Hershey_Presley_1
Vanessa_Williams_5
Vivica_Fox_4
Christopher_Walken_2
Jane_Krakowski_1
Matt_Anderson_2
Andrew_Cuomo_2
Gerald_Ford_2
Kyle_Shewfelt_0
Angelo_Reyes_3
Leland_Chapman_4
Ted_Turner_3
Daniel_Barenboim_4

In [160]:
# Combined function for the aove code
def query(ik):
  k = 0
  for i in range(len(mv)):
    if (mv[i] == query_id):
      k = i

  dist = []
  for i in range(len(mv)):
    kk = abs((mh[i]*mm[i]) - (mh[k]*mm[k])) + abs((mw[i]*mm[i]) - (mw[k]*mm[k])) + abs((mk[i]*mm[i]) - (mk[k]*mm[k]))
    dist.append(kk)

  arr = numpy.array(dist)
  n = 20
  idx = np.argpartition(dist, n)
  for i in range(20):
    print(mv[idx[i]])

In [161]:
# Query cell
print("video ID with similar video")
qp = query(input(""))
print(qp)

video ID with similar video
Andrea_Bocelli_1
William_Macy_5
Lee_Byung-woong_5
Alex_Ferguson_0
Paul_Byrd_5
Charlotte_Casiraghi_2
Fernando_Sanz_5
Carla_Del_Ponte_1
Erin_Hershey_Presley_1
Vanessa_Williams_5
Vivica_Fox_4
Christopher_Walken_2
Jane_Krakowski_1
Matt_Anderson_2
Andrew_Cuomo_2
Gerald_Ford_2
Kyle_Shewfelt_0
Angelo_Reyes_3
Leland_Chapman_4
Ted_Turner_3
Daniel_Barenboim_4
None