In [ ]:
#Downloading all the libraries
import os
import keras
from keras.preprocessing import image
from keras.applications.imagenet_utils import decode_predictions, preprocess_input
from keras.models import Model
import tensorflow
import random
import numpy

In [ ]:
import pandas as pd

In [ ]:
path = "/content/youtube_faces_with_keypoints_full.csv"
df_bonus = pd.read_csv(path)

In [ ]:
# Reading the dataset
df = pd.DataFrame(df_bonus)
print(df)

               videoID      personName  imageHeight  imageWidth  \
0      Alison_Lohman_0   Alison_Lohman        228.0       213.0
1      Alison_Lohman_1   Alison_Lohman        248.0       201.0
2      Alison_Lohman_2   Alison_Lohman        335.0       308.0
3      Alison_Lohman_3   Alison_Lohman        151.0       110.0
4      Alison_Lohman_4   Alison_Lohman        236.0       228.0
...                ...             ...          ...         ...
2189    Yossi_Beilin_3    Yossi_Beilin        240.0       243.0
2190      Zahir_Shah_0      Zahir_Shah        196.0       200.0
2191      Zahir_Shah_1      Zahir_Shah        240.0       293.0
2192  Zoran_Djindjic_0  Zoran_Djindjic        230.0       237.0
2193  Zoran_Djindjic_2  Zoran_Djindjic        131.0       115.0

      videoDuration  averageFaceSize  numVideosForPerson
0             240.0        90.150000                 6.0
1              79.0       108.417722                 6.0
2             136.0       122.161765                 6.0
3              53.0        58.000000                 6.0
4             147.0        91.680272                 6.0
...             ...              ...                 ...
2189          240.0       110.258333                 2.0
2190          143.0        93.944056                 2.0
2191          240.0       155.495833                 2.0
2192          240.0        98.908333                 2.0
2193          240.0        59.554167                 2.0

[2194 rows x 7 columns]

In [ ]:
df = pd.DataFrame(df_bonus)

In [ ]:

df_bonus.loc[df_bonus['personName'] == 'Zahir_Shah']

,videoID,personName,imageHeight,imageWidth,videoDuration,averageFaceSize,numVideosForPerson
2190,Zahir_Shah_0,Zahir_Shah,196.0,200.0,143.0,93.944056,2.0
2191,Zahir_Shah_1,Zahir_Shah,240.0,293.0,240.0,155.495833,2.0

In [ ]:
# Image height array
mh = []

for i1 in (df_bonus['imageHeight']):
  mh.append(i1)

In [ ]:
# Image Width array
mw = []

for i1 in (df_bonus['imageWidth']):
  mw.append(i1)

In [ ]:
#  Average face Size array
mk = []

for i1 in (df_bonus['averageFaceSize']):
  mk.append(i1)

In [ ]:
# video Duration array
mm = []

for i1 in (df_bonus['videoDuration']):
  mm.append(i1)

In [ ]:
# Video ID array
mv = []

for i1 in (df_bonus['videoID']):
  mv.append(i1)

In [ ]:
query_id = input("")
k = 0
for i in range(len(mv)):
  if (mv[i] == query_id):
    k = i

Kevin_Spacey_5

In [ ]:
print(k)

11

In [ ]:
import math

In [ ]:
dist = []
for i in range(len(mv)):
  kk = abs((mh[i]*mm[i]) - (mh[k]*mm[k])) + abs((mw[i]*mm[i]) - (mw[k]*mm[k])) + abs((mk[i]*mm[i]) - (mk[k]*mm[k]))
  #kk = abs((mh[i]) - (mh[k])) + abs((mw[i]) - (mw[k])) + abs((mk[i]) - (mk[k]))
  dist.append(kk)

In [ ]:
arr = numpy.array(dist)

In [ ]:
n = 20

In [ ]:
idx = np.argpartition(dist, n)
print(idx)

[ 475 1390  102 ... 2191    3 1096]

In [ ]:
for i in range(20):
  print(mv[idx[i]])

Martin_Sheen_5
Ben_Curtis_0
Paul_Celluci_4
Luis_Fonsi_5
Margaret_Thatcher_4
Tom_Osborne_5
Biljana_Plavsic_3
Leticia_Van_de_Putte_0
Chris_Cooper_3
Richard_Lennon_3
Daniell_Sunjata_2
Kevin_Spacey_5
Cristina_Saralegui_3
Elmar_Brok_0
Felipe_De_Borbon_1
Krishna_Bhadur_Mahara_5
Tara_VanDerveer_1
Keith_Tyson_0
Vaclav_Klaus_3
Eric_Staal_5

In [ ]:
def query(ik):
  k = 0
  for i in range(len(mv)):
    if (mv[i] == query_id):
      k = i

  dist = []
  for i in range(len(mv)):
    kk = abs((mh[i]*mm[i]) - (mh[k]*mm[k])) + abs((mw[i]*mm[i]) - (mw[k]*mm[k])) + abs((mk[i]*mm[i]) - (mk[k]*mm[k]))
    dist.append(kk)

  arr = numpy.array(dist)
  n = 20
  idx = np.argpartition(dist, n)
  for i in range(20):
    print(mv[idx[i]])

In [ ]:
print("video ID with similar video")
qp = query(input(""))
print(qp)

video ID with similar video
Andrea_Bocelli_1
Martin_Sheen_5
Ben_Curtis_0
Paul_Celluci_4
Luis_Fonsi_5
Margaret_Thatcher_4
Tom_Osborne_5
Biljana_Plavsic_3
Leticia_Van_de_Putte_0
Chris_Cooper_3
Richard_Lennon_3
Daniell_Sunjata_2
Kevin_Spacey_5
Cristina_Saralegui_3
Elmar_Brok_0
Felipe_De_Borbon_1
Krishna_Bhadur_Mahara_5
Tara_VanDerveer_1
Keith_Tyson_0
Vaclav_Klaus_3
Eric_Staal_5

None